<div class="row">
    <div class="col s12  m6 l6" ng-repeat="timezone in timezoneList">
        <div ng-attr-id="{{ 'clock' + timezone.id }}" class="card">
            <div class="card-image red lighten-2">
                <clock timezone="timezone"></clock>
                <div class="fixed-action-btn horizontal">
                    <a class="btn-floating btn-large indigo lighten-2">
                        <i class="large material-icons">menu</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating green" ng-click="edit(timezone)"><i class="material-icons">mode_edit</i></a></li>
                        <li><a class="btn-floating red" ng-click="delete(timezone)"><i class="material-icons">delete</i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <span class="card-title" ng-bind="timezone.name"></span>
                <table class="stripped">
                    <tr>
                        <td>Country</td>
                        <td ng-bind="timezone.country"></td>
                    </tr>
                    <tr>
                        <td>Zone Name</td>
                        <td ng-bind="timezone.zoneName"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<a ng-click="add()" class="btn-floating btn-master btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>