<html xmlns:th="http://www.thymelef.org">
<head></head>
<body>
<div  th:fragment="imports">
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"
            th:src="@{/webjars/materializecss/0.98.0/js/materialize.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.6.2/angular.js"
            th:src="@{/webjars/angularjs/1.6.2/angular.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.6.2/angular-route.js"
            th:src="@{/webjars/angularjs/1.6.2/angular-route.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.6.2/angular-resource.js"
            th:src="@{/webjars/angularjs/1.6.2/angular-resource.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/ngStorage/0.3.0/ngStorage.js"
            th:src="@{/webjars/ngStorage/0.3.0/ngStorage.js}"></script>

    <script src="../static/js/setup.js"
            th:src="@{/js/setup.js}"></script>

    <script src="../static/angular/app.js"
            th:src="@{/angular/app.js}"></script>

    <script src="../static/angular/app.config.js"
            th:src="@{/angular/app.config.js}"></script>

    <script src="../static/angular/controllers/dashboard.js"
            th:src="@{/angular/controllers/dashboard.js}"></script>

    <script src="../static/angular/controllers/login.js"
            th:src="@{/angular/controllers/login.js}"></script>

    <script src="../static/angular/services/auth.js"
            th:src="@{/angular/services/auth.js}"></script>

</div>
</body>
</html>