<html xmlns:th="http://www.thymelef.org">
<head></head>
<body>
<div th:fragment="imports">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"
          th:href="@{/webjars/materializecss/0.98.0/css/materialize.min.css}"
          rel="stylesheet" media="screen" />


    <link href="http://cdn.jsdelivr.net/webjars/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../static/css/app.css"
          th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>

    <link href="../static/css/clock.css"
          th:href="@{/css/clock.css}" rel="stylesheet" media="screen"/>


</div>
</body>
</html>
