.logo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 150px;
}

nav .side-nav .brand-logo {
    left: 21%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-20%);
}

.center-container {
    position: relative;
    height: 90vh;
}

.center-container > div.row {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.center-img {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card .card-image {
    min-height: 225px;
}